/Makefile
/config.log
/config.status
*~
*.class
*.[aoxs]
.externalToolBuilders/
.classpath
.project
C-FrontEnd/src/c-parser.output
C-BackEnd/Makefile
C-BackEnd/ant.properties
C-BackEnd/binding/classes/
C-BackEnd/build/
C-BackEnd/classes/
C-FrontEnd/src/C_Front
C-FrontEnd/src/Makefile
C-FrontEnd/src/c-exprcode.c
C-FrontEnd/src/c-exprcode.h
C-FrontEnd/src/c-lexer.c
C-FrontEnd/src/c-parser.c
C-FrontEnd/src/c-parser.h
C-FrontEnd/src/c-token.c
Driver/atool/Makefile
Driver/atool/mk/vars.mk
Driver/atool/src/cmd/.depend
Driver/atool/src/cmd/Makefile
Driver/atool/src/cmd/paths.h
Driver/atool/src/include/nata/.headers
Driver/atool/src/include/nata/Makefile
Driver/atool/src/include/nata/nata_config.h
Driver/atool/src/include/nata/nata_platform.h
Driver/atool/src/include/nata/stamp-h2
Driver/atool/src/lib/.depend
Driver/atool/src/lib/Makefile
Driver/libexec/omni_traverse
Driver/bin/ompcc
Driver/bin/ompf90
Driver/bin/xmpcc
Driver/bin/xmpf90
Driver/etc/ompcc.conf
Driver/etc/ompf90.conf
Driver/etc/xmpcc.conf
Driver/etc/xmpf90.conf
Driver/etc/version
Driver/src/Makefile
Driver/src/om_replace_pragma
F-BackEnd/Makefile
F-BackEnd/ant.properties
F-BackEnd/binding/classes/
F-BackEnd/build/
F-BackEnd/classes/
F-FrontEnd/src/C-exprcode.c
F-FrontEnd/src/C-exprcode.h
F-FrontEnd/src/F95-parser.c
F-FrontEnd/src/F95-parser.output
F-FrontEnd/src/F_Front
F-FrontEnd/src/Makefile
XcodeML-Common/Makefile
XcodeML-Common/ant.properties
XcodeML-Common/build/
XcodeML-Common/classes/
XcodeML-Exc-Tools/Makefile
XcodeML-Exc-Tools/ant.properties
XcodeML-Exc-Tools/build/
XcodeML-Exc-Tools/classes/
XcodeML-Exc-Tools/src/exc/util/MachineDepConst.java
include/config.h
include/stamp-h1
libacc/include/Makefile
libacc/src/Makefile
libompc/src/Makefile
libompc/src/target.tmpl
libompc/src/*mutex_pthread_o
libompf/src/Makefile
libtlog/src_mpi/Makefile
libtlog/src_mpi/bin/tlogview
libtlog/src_threads/Makefile
libtool
libxmp/include/Makefile
libxmp/src/Makefile
libxmp/src_gpu/Makefile
libxmp/src_threads/Makefile
libxmpf/include/Makefile
libxmpf/src/Makefile
release/debian/changelog
release/debian/control
release/debian/rules
release/make_deb.sh
release/make_rpm.sh
release/xcalablemp.spec
tests/C-test/Makefile
tests/F-test/OMP-test/Makefile
tests/clinpack/Makefile
tests/tiny/Makefile
*/build.xml
__omni_tmp__
*.mod
*.xmod
