# Extension
*.[oaxs]
*.class
*.mod
*.xmod
*.so
a.out

# Top directory
autom4te.cache
config.log
config.status
/Makefile

# Sub directories
C-BackEnd/Makefile
C-BackEnd/build/
C-FrontEnd/src/C_Front
C-FrontEnd/src/Makefile
C-FrontEnd/src/c-exprcode.c
C-FrontEnd/src/c-exprcode.h
C-FrontEnd/src/c-lexer.c
C-FrontEnd/src/c-parser.c
C-FrontEnd/src/c-parser.h
C-FrontEnd/src/c-parser.output
C-FrontEnd/src/c-token.c
C-FrontEnd/src/c-token.h

Driver/atool/Makefile
Driver/atool/mk/vars.mk
Driver/atool/src/cmd/Makefile
Driver/atool/src/cmd/paths.h
Driver/atool/src/include/nata/Makefile
Driver/atool/src/include/nata/nata_config.h
Driver/atool/src/include/nata/nata_platform.h
Driver/atool/src/lib/Makefile
Driver/bin/ompcc
Driver/bin/ompf90
Driver/bin/omtranslate
Driver/bin/xmpcc
Driver/bin/xmpf90
Driver/etc/ompcc.conf
Driver/etc/ompf90.conf
Driver/etc/setup.conf
Driver/etc/version
Driver/etc/xmpcc.conf
Driver/etc/xmpf90.conf
Driver/src/Makefile
Driver/src/om_replace_pragma

F-BackEnd/Makefile
F-BackEnd/bin/F_Back
F-BackEnd/bin/F_Decomp
F-BackEnd/bin/F_Trans
F-BackEnd/build/
F-BackEnd/src/xcodeml/f/decompile/XfDecompileDomVisitor_coarrayLibs.java

F-FrontEnd/gnu_module/Makefile
F-FrontEnd/gnu_module/T_Module
F-FrontEnd/gnu_module/xmpmod
F-FrontEnd/src/C-exprcode.c
F-FrontEnd/src/C-exprcode.h
F-FrontEnd/src/F_Front
F-FrontEnd/src/Makefile
F-FrontEnd/src/F-input-xmod.h
F-FrontEnd/src/F95-parser.c

XcodeML-Common/Makefile
XcodeML-Common/build/

XcodeML-Exc-Tools/Makefile
XcodeML-Exc-Tools/build/
XcodeML-Exc-Tools/src/exc/util/MachineDepConst.java

include/config.h
include/stamp-h1

libacc/include/Makefile
libacc/src/Makefile

libompc/src/Makefile
libompc/src/ompc_lib._mutex_pthread_o
libompc/src/ompc_lock._mutex_pthread_o
libompc/src/ompc_runtime._mutex_pthread_o
libompc/src/ompc_thread._mutex_pthread_o
libompc/src/ompf_runtime._mutex_pthread_o
libompc/src/ompf_thread._mutex_pthread_o
libompc/src/target.tmpl
libompc/src/timer._mutex_pthread_o

libompf/src/Makefile

libtlog/src_mpi/Makefile
libtlog/src_mpi/bin/tlogview
libtlog/src_threads/Makefile

libxmp/include/Makefile
libxmp/src/Makefile
libxmp/src_threads/Makefile

libxmpf/include/Makefile
libxmpf/include/xmp_coarray_alloc.h
libxmpf/include/xmp_coarray_get.h
libxmpf/include/xmp_coarray_put.h
libxmpf/include/xmp_coarray_reduction.h
libxmpf/include/xmp_coarray_getsub.h
libxmpf/src/Makefile
libxmpf/src/include_work/

# Other
__omni_tmp__/
*~
.idea
.gdbinit
*.iml
