#!/bin/sh -x
#PJM --rsc-list "node=8"
#PJM --rsc-list "elapse=00:15:00"
#PJM --stg-transfiles all
#PJM --mpi "use-rankdir"
#PJM --stgin "rank=* ./* %r:./"

. /work/system/Env_base

echo
echo "[test_reduction_f]"
echo

