#!/bin/sh -x
#PJM --rsc-list "node=2"
#PJM --rsc-list "elapse=02:00:00"
#PJM --stg-transfiles all
#PJM --mpi "use-rankdir"
#PJM --stgin "rank=* ./* %r:./"

. /work/system/Env_base

echo
echo "[test_LARGE_local_coarray_c]"
echo

